# Auto detect text files and perform LF normalization
* text=auto
GENERAL[[:space:]]CHEMISTRY/Principles[[:space:]]of[[:space:]]General[[:space:]]Chemistry[[:space:]](Martin[[:space:]]Silberberg)[[:space:]](z-lib.org).pdf filter=lfs diff=lfs merge=lfs -text
PUBLIC[[:space:]]SPEAKING[[:space:]]FOR[[:space:]]NONNATIVE[[:space:]]SPEAKERS/Public[[:space:]]Speaking[[:space:]]Midterm.pptx filter=lfs diff=lfs merge=lfs -text
